._*
*.conf 
*.crt 
*.csr 
*.db 
*.db-journal 
*.db-shm 
*.db-wal 
*.key 
*.log 
*.pid 
*.sqlite 
*.txt 
*.xml 
*.xsd 
.DS_Store 
*.pyc

# folders with sensitive data
zone 
www 
http 
lib 
deps

# files with sensitive data
secrets.yaml 
known_devices.yaml
.uuid
